.repositoryinfo-component {
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  width: 90%;
  height: 95%;
  padding: 20px;
  left: 2px;
}
#app > div > div.content-container > div.right > div > div:nth-child(1) > div:nth-child(2) {
  display: -webkit-inline-box;
}