.search-component {
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    padding-top: 14px;
    padding-left: 2%;
    padding-bottom: 1px; 
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2%;
    margin-right: 2.8%;
}

#app > div > div.top > div > div:nth-child(2) > div > button {
  margin-top: 15px;
}

#app > div > div.top > div > div:nth-child(1) {
  font-weight: bold;
  font-size: 25px;
}