.userinfo-component { 
  width: 90%;
  height: 100%;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

.right-top {
  vertical-align: top;
}

.row {
  display: table-row;
  
}

.row > div {
  display: table-cell
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

#app > div > div.content-container > div.left > div > div:nth-child(1) > div.left-top > img {
  margin-left: 20px;
}

#app > div > div.content-container > div.left > div > div:nth-child(2) > div.right-bottom {
  padding-left: 20px;
}
