.userinfo-component {
  border: 1px dashed #f00;
}

.right-top {
  vertical-align: top;
}

.row {
  display: table-row;
}

.row > div {
  display: table-cell
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}